@using SSMM.Model;
@{
    ViewBag.Title = "公告通知";
    Layout = "~/Areas/UserCenter/Views/Shared/_UserCenterLayout.cshtml";

    var List = ViewData["List"] as List<NoticeDto>;
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>公告通知</h5>
            </div>
            <div class="ibox-content">
                @{
                    if (List != null && List.Count > 0)
                    {
                        foreach (var item in List)
                        {
                            <div class="feed-element">
                                <div class="media-body ">
                                    <small class="pull-right">@(item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss"))</small>
                                    <a href="/UserCenter/Other/NoticeInfo/@(item.Id)" class="text-navy"><strong>@Html.Raw(item.Title)</strong></a>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
