
@{
    ViewBag.Title = "客户端下载";
    Layout = "~/Areas/UserCenter/Views/Shared/_UserCenterLayout.cshtml";
}


<div class="row">
    <div class="col-lg-6">
        <div class="widget white-bg">
            <div class="p-xs text-center"><i class="fa fa-windows fa-5x"></i><h2 class="font-bold">Windows</h2></div>
            <div class="row text-center">
               <p>Windows 7/XP客户端(.Net 2.0)&nbsp;&nbsp;<a href="http://pan.baidu.com/s/1dE7CHc1" target="_blank">shadowsocks-win-2.5.1.zip</a></p>
                <p>Windows 8/10客户端下载(.Net 4.0)&nbsp;&nbsp;<a href="http://pan.baidu.com/s/1i4Rh1Gx" target="_blank">shadowsocks-win-dotnet4.0-2.5.1.zip</a></p>
                <p>最新版客户端(.Net 4.6.2)&nbsp;&nbsp;<a href="https://github.com/shadowsocks/shadowsocks-windows/releases" target="_blank">GitHub</a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget white-bg">
            <div class="p-xs text-center"><i class="fa fa-apple fa-5x"></i><h2 class="font-bold">Mac OS X</h2></div>
            <div class="row text-center">
                <p>MacOS客户端&nbsp;&nbsp;<a href="http://pan.baidu.com/s/1nvPn8SD" target="_blank">shadowsocksx-2.6.3.zip</a></p>
                <p>&nbsp;&nbsp;</p>
                <p>&nbsp;&nbsp;</p>
            </div>
        </div>
    </div>
    
    <div class="col-lg-6">
        <div class="widget white-bg">
            <div class="p-xs text-center"><i class="fa fa-android fa-5x"></i><h2 class="font-bold">Android</h2></div>
            <div class="row text-center">
                <p>Android/安卓客户端&nbsp;&nbsp;<a href="http://pan.baidu.com/s/1qYi43Sg" target="_blank">shadowsocks-nightly-4.0.4.apk</a></p>
                <p>&nbsp;&nbsp;</p>
                <p>&nbsp;&nbsp;</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget white-bg">
            <div class="p-xs text-center"><i class="fa fa-apple fa-5x"></i><h2 class="font-bold">iPhone/iPad</h2></div>
            <div class="row text-center">
                <p>（未越狱）iPhone,iPad客户端&nbsp;&nbsp;<a href="https://itunes.apple.com/cn/app/shadowrocket/id932747118?l=en&mt=8" target="_blank">APP Store下载 shadowrocket </a></p>
                <p>（已越狱）iPhone,iPad客户端,请直接在Cydia里搜索ShadowSocks ，然后安装即可</p>
                <p>&nbsp;&nbsp;</p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <div class="widget white-bg">
            <div class="p-xs text-center"><i class="fa fa-chrome fa-5x"></i><h2 class="font-bold">Chrome浏览器</h2></div>
            <div class="row text-center">
                <p>基于Chromium系的浏览器&nbsp;&nbsp;<a href="http://pan.baidu.com/s/1i5n2bqd" target="_blank">SwitchyOmega.crx</a>&nbsp;&nbsp;<a href="https://github.com/FelisCatus/SwitchyOmega/wiki/GFWList" target="_blank">图文设置教程</a></p>
            </div>
        </div>
    </div>
</div>

