
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Windows使用教程</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
        body {
            padding-top: 20px;
            padding-bottom: 40px;
        }

        .container-narrow {
            margin: 0 auto;
            max-width: 700px;
        }

            .container-narrow > hr {
                margin: 30px 0;
            }

        .jumbotron {
            margin: 60px 0;
            text-align: center;
        }

            .jumbotron h1 {
                font-size: 72px;
                line-height: 1;
            }

            .jumbotron .btn {
                font-size: 21px;
                padding: 14px 24px;
            }

        .marketing {
            margin: 60px 0;
        }

            .marketing p + h4 {
                margin-top: 28px;
            }
    </style>
    <link rel="shortcut icon" href="favicon.png">
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li><a href="/" title="首页">首页</a></li>
                <li><a href="/client.html" title="客户端">客户端</a></li>
                <li class="active"><a href="/help.html" title="影梭使用方法">使用教程</a></li>
                <li><a href="/specials.html" title="优惠促销">优惠促销</a></li>
                <li><a href="/tos.html" title="服务条款">服务条款</a></li>
                <li><a href="http://ss.iyingsuo.net/cart.php" title="订购链接">订购链接</a></li>
                <li><a href="http://ss.iyingsuo.net/contact.php" title="技术支持">技术支持</a></li>
            </ul>
            <h3 class="text-muted">影梭 iyingsuo.com</h3></strong>
        </div>




        <div class="container">
            <div class="row white">
                <h2 class="centered">Windows上使用影梭教程</h2>
                <hr>
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <center>
                        <img src="http://ww2.sinaimg.cn/large/0060lm7Tgw1f7v2rc9729j3074074wef.jpg" align="center"> <h2><strong>Windows</h2></strong><br>
                        <h3><strong>一、下载Windows下的影梭软件</h3></strong><br>
                        <a href="http://pan.baidu.com/s/1dDi0LPJ" target="_blank">Win7、XP、Vista系统百度网盘下载地址</a> ，提取密码：fjfs<br><br>
                        <a href="http://pan.baidu.com/s/1mgtHNcO" target="_blank">Win8系统百度网盘下载地址</a>，提取密码：brbs<br>
                        <h3><strong>二、下载后解压，解压后运行影梭</h3></strong><br>

                        注意:如果XP下载后双击打不开，提示： 影梭 应用程序正常初始化失败。<br><br>
                        说明系统缺少.net framework <br><br>
                        .NET Framework 2.0 版本，适合 Windows XP 用户，链接:<a href=http://pan.baidu.com/s/1bne1job target=_blank>http://pan.baidu.com/s/1bne1job</a> 密码：w1fk<br><br>

                        .NET Framework 3.5 版本，适合 Windows 7 用户：<br>

                        链接 :<a href=https://www.baidu.com/s?ie =UTF-8&wd =.NET+Framework+3.5 target=_blank>https://www.baidu.com/s?ie=UTF-8&wd=.NET+Framework+3.5</a> <br><br>

                        .NET Framework 4.0 版本，适合 Windows 8.1 用户，<br>

                        链接: :<a href=http://pan.baidu.com/s/1hqw8yOk target=_blank>http://pan.baidu.com/s/1hqw8yOk</a>  密码: qhu1<br><br>
                        Windows8.1版本兼容微软最新发布的Windows10系统！<br><br>

                        <img src="http://ww3.sinaimg.cn/large/0060lm7Tgw1f7v2se2wddj30d808sdh9.jpg" align="center"><br>
                        <h3><strong>三、首次运行，弹出编辑服务器窗口，请输入您在<a href=http://www.iyingsuo.com/ target=_blank>影梭</a>（<a href=http://www.iyingsuo.com/alipay-shadowsocks-tutorials.html target=_blank>影梭自助订购教程</a>）购买的服务（<a href=http://www.iyingsuo.com/iyingsuo-shadowsocks-tutorials.html target=_blank>服务获取教程</a>）。正确填写服务器地址、端口、密码和加密方式，或者直接扫描二维码，然后点确定</h3></strong><br>
                        <img src="http://ww4.sinaimg.cn/large/0060lm7Tgw1f3dg4wm5yej30dp04w0sr.jpg" align="center"><br><br>

                        <p class="large">点确定后，右下角弹出提示</p><br>
                        <img src="http://ww2.sinaimg.cn/large/0060lm7Tgw1f7v2t9odvij306x025jrl.jpg" align="center"><br>
                        <h3><strong>四、右键程序图标，弹出主菜单，勾选“启用系统代理”</h3></strong><br>
                        <img src="http://ww3.sinaimg.cn/large/0060lm7Tgw1f7v2tm61twj308w0aqjsf.jpg" align="center"><br>
                        <h3><strong>五、打开任意浏览器（IE/Chrome/Firefox等），即可开始科学上网</h3></strong><br>
                        <img src="http://ww2.sinaimg.cn/large/0060lm7Tgw1f7v2typfjsj30iq0je78h.jpg" align="center"><br>
                        <h3><strong><p><a href="./help.html">返回看其他教程</a><br><br><a href="./index.html">回主页</a></p></h3></strong><br>
                </div>
                </dir>
                <!-- row -->
            </div>
        </div>
        <!-- container -->




        <div class="footer">
            <div>
                @Html.Partial("Footer_Partial")
            </div>
        </div>
    </div>
</body>
</html>
