
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Windows使用教程</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
        body {
            padding-top: 20px;
            padding-bottom: 40px;
        }

        .container-narrow {
            margin: 0 auto;
            max-width: 700px;
        }

            .container-narrow > hr {
                margin: 30px 0;
            }

        .jumbotron {
            margin: 60px 0;
            text-align: center;
        }

            .jumbotron h1 {
                font-size: 72px;
                line-height: 1;
            }

            .jumbotron .btn {
                font-size: 21px;
                padding: 14px 24px;
            }

        .marketing {
            margin: 60px 0;
        }

            .marketing p + h4 {
                margin-top: 28px;
            }
    </style>
    <link rel="shortcut icon" href="favicon.png">
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li><a href="/" title="首页">首页</a></li>
                <li><a href="/UserCenter/Home/Index" title="用户中心">用户中心</a></li>
                <li><a href="/UserCenter/Wiki/DownLoad" title="客户端下载">客户端下载</a></li>
            </ul>
            <h3 class="text-muted">秋名山SS AutumnSS.com</h3>
        </div>




        <div class="container">
            <div class="row white">
                <h2 class="centered">Windows上使用教程</h2>
                <hr>
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <img src="http://ww2.sinaimg.cn/large/0060lm7Tgw1f7v2rc9729j3074074wef.jpg"> <h2><strong>Windows</strong></h2><br>
                    <h3><strong>一、下载客户端</strong></h3><br>
                    <a href="/UserCenter/Wiki/DownLoad" target="_blank">DownLoad</a><br><br>
                    <h3><strong>二、下载后解压，解压后运行</strong></h3><br>

                    注意:如果XP下载后双击打不开，提示：  应用程序正常初始化失败。<br><br>
                    说明系统缺少.net framework <br><br>
                    .NET Framework 2.0 版本，适合 Windows XP 用户：<br />

                    链接 :<a href="https://www.baidu.com/s?ie=UTF-8&wd=.NET+Framework+2.0" target=_blank>https://www.baidu.com/s?ie=UTF-8&wd=.NET+Framework+2.0</a> <br><br>

                    .NET Framework 3.5 版本，适合 Windows 7 用户：<br>

                    链接 :<a href="https://www.baidu.com/s?ie=UTF-8&wd=.NET+Framework+3.5" target=_blank>https://www.baidu.com/s?ie=UTF-8&wd=.NET+Framework+3.5</a> <br><br>

                    .NET Framework 4.0 版本，适合 Windows 8.1 用户，<br>

                    链接 :<a href="https://www.baidu.com/s?ie=UTF-8&wd=.NET+Framework+4.0" target=_blank>https://www.baidu.com/s?ie=UTF-8&wd=.NET+Framework+4.0</a> <br><br>
                    Windows8.1版本兼容微软最新发布的Windows10系统！<br><br>
                    <h3><strong>三、首次运行，弹出编辑服务器窗口。</strong></h3><br>
                    通过<a href="/UserCenter/Product/My" target="_blank">我的服务</a>获取服务器信息，正确填写服务器地址、端口、密码和加密方式，然后点确定<br><br>
                    <img src="http://ww3.sinaimg.cn/large/0060lm7Tgw1f7v2se2wddj30d808sdh9.jpg"><br><br>
                    或者直接扫描二维码，然后点确定（二维码扫描方式容易出现失败可能！）<br><br>
                    <img src="http://ww4.sinaimg.cn/large/0060lm7Tgw1f3dg4wm5yej30dp04w0sr.jpg"><br><br>

                    <p class="large">点确定后，右下角弹出提示</p><br>
                    <img src="http://ww2.sinaimg.cn/large/0060lm7Tgw1f7v2t9odvij306x025jrl.jpg"><br>

                    <h3><strong>四、右键程序图标，弹出主菜单，勾选“启用系统代理”</strong></h3><br>
                    <img src="http://ww3.sinaimg.cn/large/0060lm7Tgw1f7v2tm61twj308w0aqjsf.jpg"><br><br>
                    <h3><strong>五、 “启用系统代理”打开后，修改“系统代理模式”</strong></h3><br>
                    PAC模式表示，访问的域名只有在pac列表中，才会使用代理。<br>
                    PAC模式有本地和在线之分。<br><br>
                    全局模式表示，访问任意的域名都会使用代理打开。<br><br>
                    <h3><strong>六、打开任意浏览器（IE/Chrome/Firefox等），即可开始科学上网</strong></h3><br>
                    <img src="http://ww2.sinaimg.cn/large/0060lm7Tgw1f7v2typfjsj30iq0je78h.jpg"><br>
                    <h3><strong><a href="/UserCenter/Home/Index">返回用户中心</a><br><br><a href="/">回主页</a></p></strong></h3><br>
                </div>
                <!-- row -->
            </div>
        </div>
        <!-- container -->




        <div class="footer">
            <div>
                @Html.Partial("Footer_Partial")
            </div>
        </div>
    </div>
</body>
</html>
