
@{
    ViewBag.Title = "优惠码";
    Layout = "~/Areas/AdminCenter/Views/Shared/_AdminCenterLayout.cshtml";
}

<div>
    <div class="btn-group toolbar">
    </div>
    <table id="couponlist"></table>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">修改状态</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <input type="hidden" id="modal-id">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">状态：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Status" id="modal-status">
                            <span class="help-block m-b-none">0：不可用  1：可用</span>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="update-btn">修改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@section footscript{
    <script>
        $(function () {
            $('#update-btn').click(function () {
                var id = $('#modal-id').val();
                var status = $('#modal-status').val();
                $.ajax({
                    url: '/AdminCenter/CouponCode/UpdatePost',
                    type: 'post',
                    data: { id: id, status: status },
                    success: function (res) {
                        if (res.result) {
                            //关闭模态窗
                            $('#myModal').modal('hide');
                            //刷新table
                            $('#couponlist').bootstrapTable('refresh');
                        } else {
                            $('#myModal').modal('hide');
                        }
                    },
                    error: function (e, ex) {
                        console.log(ex);
                        $('#myModal').modal('hide');
                    }
                });
            });

            $('#couponlist').bootstrapTable({
                url: "/AdminCenter/CouponCode/GetList",
                toolbar: '.toolbar',
                search: true,
                searchOnEnterKey: true,
                pagination: true,
                singleSelect: false,
                sidePagination: "server",
                sortOrder: "desc",
                pageSize: 10,
                pageNumber: 1,
                detailView: false,
                showRefresh: true,
                columns: [
                      {
                          title: '优惠码',
                          field: 'Code',
                          align: 'center',
                          width: 250
                      },
                        {
                            title: '描述',
                            field: 'Des',
                            align: 'center'
                        },
                        {
                            title: '优惠金额',
                            field: 'Amount',
                            align: 'center',
                            width: 50,
                            formatter: function (value, row, index) {
                                return value.toFixed(2) + '元';
                            }
                        },
                              {
                                  title: '过期时间',
                                  field: 'ExpirationTime',
                                  align: 'center',
                                  width: 150,
                                  formatter: function (value, row, index) {
                                      return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).Format("yyyy-MM-dd hh:mm:ss");
                                  }
                              },
                          {
                              title: '可用状态',
                              field: 'Status',
                              align: 'center',
                              width: 60,
                              formatter: function (value, row, index) {
                                  if (row.Status == 1) {
                                      return '<span class="label label-success">可用</span>';
                                  } else {
                                      return '<span class="label label-danger">不可用</span>';
                                  }
                              }
                          },
                          {
                              title: '操作',
                              align: 'center',
                              width: 80,
                              formatter: function (value, row, index) {
                                  return [
                     '<button type="button" class="btn btn-danger btn-sm updatebtn">修改</button>&nbsp;&nbsp;'
                                  ].join('');
                              },
                              events: "operateEvents"
                          }
                ]
            });
        });
        window.operateEvents = {
            'click .updatebtn': function (e, value, row, index) {
                var id = row.Id;
                var Status = row.Status;
                $('#modal-id').val(id);
                $('#modal-status').val(Status);
                $('#myModal').modal('show')
            },

        };
        Date.prototype.Format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }

    </script>
}




