
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Html.Raw(ViewBag.WebSiteTitle)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@ViewBag.WebSiteDescription" />
    <meta name="keywords" content="@ViewBag.WebSiteKeywords" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- Google Webfonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <!-- Icomoon Icon Fonts-->
    <link href="~/Content/css/icomoon.css" rel="stylesheet" />
    <!-- Simple Line Icons-->
    <link rel="stylesheet" href="//cdn.bootcss.com/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <!-- Magnific Popup -->
    <link href="//cdn.bootcss.com/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="//cdn.bootcss.com/owl-carousel/1.32/owl.carousel.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/owl-carousel/1.32/owl.theme.min.css">
    <!-- Theme Style -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- Modernizr JS -->
    <script src="//cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div id="fh5co-offcanvass">
        <ul>
            <li class="active"><a href="/" data-nav-section="home">主页</a></li>
            <li><a href="/UserCenter/Account/Register" data-nav-section="testimonies">注册</a></li>
            <li><a href="/UserCenter/Account/Login" data-nav-section="products">登录</a></li>
            <li><a href="/UserCenter/Home/Index" data-nav-section="benefits">用户中心</a></li>
        </ul>

    </div>

    <div id="fh5co-menu" class="navbar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><span>菜单</span> <i></i></a>
                    <a href="/" class="navbar-brand"><span>秋名山</span></a>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-page">
        <div id="fh5co-wrap">
            <header id="fh5co-hero" data-section="home" role="banner" style="background: url(/Content/img/bg_4.jpg) top left; background-size: cover;">
                <div class="fh5co-overlay"></div>
                <div class="fh5co-intro">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-6 fh5co-text">
                                <h2 class="to-animate intro-animate-1">最科学的上网方式</h2>
                                <p class="to-animate intro-animate-2"></p>
                                <p class="to-animate intro-animate-2">秋名山上行人稀， 常有车手较高低。 如今赛道依旧在， 不见当年老司机。</p>
                                <p class="to-animate intro-animate-2">体验全新的上网姿势。</p>
                                <p class="to-animate intro-animate-3"><a href="/UserCenter/Account/Login" class="btn btn-default">登录</a></p>
                            </div>

                        </div>
                    </div>
                </div>
            </header>
            <!-- END .header -->

            <div id="fh5co-main">
                <div id="fh5co-clients">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-lg-8 col-lg-offset-2 text-center">
                                <h2 class="section-heading" style="color: #fff;">专注于提供shadowsocks服务</h2>
                                <hr class="light">
                                <p class="text-faded" style="color: #fff;">覆盖全球的高品质服务节点，深度网络优化，极速而稳定。秋名山-老司机，带你体验全新的上网姿势。</p>
                                <a href="/UserCenter/Product/List" class="btn btn-default">立即开启</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="fh5co-pricing" data-section="basic">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
                                <h2 class="fh5co-lead animate-single pricing-animate-1">产品套餐</h2>
                                <p class="fh5co-sub animate-single pricing-animate-2">包括小流量浏览网页和大流量观看视频等，套餐方式灵活，可选计时/计量套餐。</p>
                            </div>

                            <div class="col-md-3 to-animate">
                                <a href="/UserCenter/Product/List" class="fh5co-figure">
                                    <span class="fh5co-price">¥1<span>/3天</span></span>
                                    <h3 class="fh5co-figure-lead">体验套餐</h3>
                                    <p class="fh5co-figure-text">美国/日本/新加坡/韩国等</p>
                                    <p class="fh5co-figure-text">高速线路</p>
                                    <p class="fh5co-figure-text">支持SSR和UDP</p>
                                    <p class="fh5co-figure-text">全平台通用</p>
                                    <p class="fh5co-figure-text">24小时全自动开通</p>
                                    <p class="fh5co-figure-text">仅新注册用户</p>
                                    <span class="fh5co-feature-icon"><i class="icon-basket"></i></span>
                                </a>
                            </div>
                            <div class="col-md-3 to-animate">
                                <a href="/UserCenter/Product/List" class="fh5co-figure">
                                    <span class="fh5co-price">¥10<span>/月</span></span>
                                    <h3 class="fh5co-figure-lead">计时套餐</h3>
                                    <p class="fh5co-figure-text">美国/日本/新加坡/韩国等</p>
                                    <p class="fh5co-figure-text">高速线路</p>
                                    <p class="fh5co-figure-text">支持SSR和UDP</p>
                                    <p class="fh5co-figure-text">全平台通用</p>
                                    <p class="fh5co-figure-text">24小时全自动开通</p>
                                    <p class="fh5co-figure-text">可选包月/季/半年/年</p>
                                    <span class="fh5co-feature-icon"><i class="icon-basket"></i></span>
                                </a>
                            </div>
                            <div class="col-md-3 to-animate">
                                <a href="/UserCenter/Product/List" class="fh5co-figure active pricing-feature">
                                    <span class="fh5co-price">¥100<span>/年</span></span>
                                    <h3 class="fh5co-figure-lead">特价包年</h3>
                                    <p class="fh5co-figure-text">美国/日本/新加坡/韩国等</p>
                                    <p class="fh5co-figure-text">高速线路</p>
                                    <p class="fh5co-figure-text">支持SSR和UDP</p>
                                    <p class="fh5co-figure-text">全平台通用</p>
                                    <p class="fh5co-figure-text">24小时全自动开通</p>
                                    <p class="fh5co-figure-text">仅年付</p>
                                    <span class="fh5co-feature-icon"><i class="icon-basket"></i></span>
                                </a>
                            </div>
                            <div class="col-md-3 to-animate">
                                <a href="/UserCenter/Product/List" class="fh5co-figure">
                                    <span class="fh5co-price">¥20<span>/月</span></span>
                                    <h3 class="fh5co-figure-lead">计量套餐</h3>
                                    <p class="fh5co-figure-text">美国/日本/新加坡/韩国等</p>
                                    <p class="fh5co-figure-text">高速线路</p>
                                    <p class="fh5co-figure-text">支持SSR和UDP</p>
                                    <p class="fh5co-figure-text">全平台通用</p>
                                    <p class="fh5co-figure-text">24小时全自动开通</p>
                                    <p class="fh5co-figure-text">可选30G/50G/100G</p>
                                    <span class="fh5co-feature-icon"><i class="icon-basket"></i></span>
                                </a>
                            </div>

                            <div class="clearfix visible-sm-block"></div>

                            <div class="fh5co-spacer fh5co-spacer-sm"></div>

                            <div class="col-md-4 col-md-offset-4 text-center to-animate">
                                <a href="/UserCenter/Product/List" class="btn btn-primary">查看更多套餐</a>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div id="fh5co-pricing" data-section="premium">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
                                    <h2 class="fh5co-lead animate-single pricing-animate-1">高级套餐</h2>
                                    <p class="fh5co-sub animate-single pricing-animate-2">高级套餐适合对网络速度和稳定性有较高要求的用户，网络带宽高达100Mbps的CN2节点，在不同的网络环境下都能拥有优越的表现.</p>
                                </div>

                                <div class="col-md-3 to-animate">
                                    <a href="/UserCenter/Product/List" class="fh5co-figure">
                                        <span class="fh5co-price">¥5<span>/3天</span></span>
                                        <h3 class="fh5co-figure-lead">体验套餐</h3>
                                        <p class="fh5co-figure-text">香港/新加坡/韩国/台湾</p>
                                        <p class="fh5co-figure-text">CN2,支持SSR和UDP</p>
                                        <p class="fh5co-figure-text">1GB流量,有效期3天</p>
                                        <p class="fh5co-figure-text">同时支持5终端</p>
                                        <p class="fh5co-figure-text">3天有效,一次性</p>
                                        <span class="fh5co-feature-icon"><i class="icon-basket"></i></span>
                                    </a>
                                </div>
                                <div class="col-md-3 to-animate">
                                    <a href="/UserCenter/Product/List" class="fh5co-figure">
                                        <span class="fh5co-price">¥20<span>/月</span></span>
                                        <h3 class="fh5co-figure-lead">网页套餐</h3>
                                        <p class="fh5co-figure-text">香港/新加坡/韩国/台湾等</p>
                                        <p class="fh5co-figure-text">CN2,支持SSR和UDP</p>
                                        <p class="fh5co-figure-text">10GB流量每月</p>
                                        <p class="fh5co-figure-text">同时支持5终端</p>
                                        <p class="fh5co-figure-text">可选包月/季/半年/年</p>
                                        <span class="fh5co-feature-icon"><i class="icon-basket"></i></span>
                                    </a>
                                </div>
                                <div class="col-md-3 to-animate">
                                    <a href="/UserCenter/Product/List" class="fh5co-figure active pricing-feature">
                                        <span class="fh5co-price">¥200<span>/年</span></span>
                                        <h3 class="fh5co-figure-lead">特价包年</h3>
                                        <p class="fh5co-figure-text">香港/新加坡/韩国/台湾等</p>
                                        <p class="fh5co-figure-text">CN2,支持SSR和UDP</p>
                                        <p class="fh5co-figure-text">150GB流量,有效期一年</p>
                                        <p class="fh5co-figure-text">同时支持5终端</p>
                                        <p class="fh5co-figure-text">仅限年付</p>
                                        <span class="fh5co-feature-icon"><i class="icon-basket"></i></span>
                                    </a>
                                </div>
                                <div class="col-md-3 to-animate">
                                    <a href="/UserCenter/Product/List" class="fh5co-figure">
                                        <span class="fh5co-price">¥40<span>/月</span></span>
                                        <h3 class="fh5co-figure-lead">视频套餐</h3>
                                        <p class="fh5co-figure-text">香港/新加坡/韩国/台湾等</p>
                                        <p class="fh5co-figure-text">CN2,支持SSR和UDP</p>
                                        <p class="fh5co-figure-text">25GB流量每月</p>
                                        <p class="fh5co-figure-text">同时支持5终端</p>
                                        <p class="fh5co-figure-text">可选包月/季/半年/年</p>
                                        <span class="fh5co-feature-icon"><i class="icon-basket"></i></span>
                                    </a>
                                </div>

                                <div class="clearfix visible-sm-block"></div>

                                <div class="fh5co-spacer fh5co-spacer-sm"></div>

                                <div class="col-md-4 col-md-offset-4 text-center to-animate">
                                    <a href="/UserCenter/Product/List" class="btn btn-primary">查看更多套餐</a>
                                </div>
                            </div>
                        </div>
                    </div>*@

                <div class="fh5co-bg-section cta" id="fh5co-cta" style="background-image: url(/Content/img/bg_4.jpg); background-attachment: fixed;" data-section="trial">
                    <div class="fh5co-overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="fh5co-hero-wrap">
                                    <div class="fh5co-hero-intro text-center">
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
                                                <h2 class="fh5co-lead to-animate">1元体验</h2>
                                                <p class="fh5co-sub to-animate">新注册用户，即可1元体验，体验与正式购买毫无区别，可用1GB流量。</p>
                                                <div class="to-animate"><a href="/UserCenter/Product/List" class="btn btn-primary">体验套餐</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

        <footer id="fh5co-footer" style="">
            <div class="fh5co-overlay"></div>
            <div class="fh5co-footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">@Html.Partial("Footer_Partial")</div>

                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- jQuery -->
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="//cdn.bootcss.com/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- Bootstrap -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="//cdn.bootcss.com/waypoints/4.0.0/jquery.waypoints.min.js"></script>
    <!-- Magnific Popup -->
    <script src="//cdn.bootcss.com/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!-- Owl Carousel -->
    <script src="//cdn.bootcss.com/owl-carousel/1.32/owl.carousel.min.js"></script>
    <!-- toCount -->
    <script src="//cdn.bootcss.com/jquery-countto/1.2.0/jquery.countTo.min.js"></script>
    <!-- Main JS -->
    <script src="~/Content/js/main.js"></script>



</body>
</html>
