
@{
    ViewBag.Title = "账户信息";
    Layout = "~/Areas/UserCenter/Views/Shared/_UserCenterLayout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>账号信息:</h5>
                <div class="ibox-tools">
                </div>
            </div>
            <div class="ibox-content">
                <form method="post" action="" role="form">
                    <div class="form-group">
                        <label class="control-label">用户名</label>
                        <input type="text" name="username" class="form-control" value="admin" disabled>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="text" name="email" class="form-control" value="122@as.ad" disabled>
                    </div>
                    <div class="form-group">
                        <label class="control-label">QQ号</label>
                        <input type="text" name="qq" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <label class="control-label">地址</label>
                        <input type="text" name="address" class="form-control" value="">
                    </div>
                    <div class="form-group text-center">
                        <input class="btn btn-primary" type="submit" name="save" value="保存更改">
                        <input class="btn btn-default" type="reset" value="取消">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

