
@{
    ViewBag.Title = "我的账单";
    Layout = "~/Areas/UserCenter/Views/Shared/_UserCenterLayout.cshtml";
}
@section headscript{
    <link href="//cdn.bootcss.com/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet">
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                    <div class="btn-group toolbar">
                    </div>
                    <table id="orderlist"></table>
            </div>
        </div>
    </div>
</div>



@section footscript{
    <script src="//cdn.bootcss.com/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
    <script>
        $(function () {
            $('#orderlist').bootstrapTable({
                url: "/UserCenter/Account/GetRecordList",
                toolbar: '.toolbar',
                search: false,
                pagination: true,
                singleSelect: false,
                sidePagination: "server",
                sortOrder: "desc",
                pageSize: 10,
                pageNumber: 1,
                detailView: false,
                showRefresh: false,
                columns: [
                      {
                          title: '交易号',
                          field: 'TradeNumber',
                          align: 'center',
                          width: 100
                      },
                        {
                            title: '产品价格',
                            field: 'Price',
                            align: 'center',
                            width: 60,
                            formatter: function (value, row, index) {
                                return value.toFixed(2) + '元';
                            }
                        },
                        {
                            title: '交易价格',
                            field: 'Amount',
                            align: 'center',
                            width: 60,
                            formatter: function (value, row, index) {
                                return value.toFixed(2) + '元';
                            }
                        },
                            {
                                title: '交易时间',
                                field: 'CreateTime',
                                align: 'center',
                                width: 160,
                                formatter: function (value, row, index) {
                                    return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).Format("yyyy-MM-dd hh:mm:ss");
                                }
                            },
                          {
                              title: '支付类型',
                              field: 'Type',
                              align: 'center',
                              width: 100
                          },
                           {
                               title: '交易状态',
                               field: 'Status',
                               align: 'center',
                               width: 40,
                               formatter: function (value, row, index) {
                                   if (value == 1)
                                       return '正常';
                                   else
                                       return ''; 
                               }
                           }
                ]
            });
        });
        Date.prototype.Format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>
}




