
@{
    ViewBag.Title = "更改密码";
    Layout = "~/Areas/UserCenter/Views/Shared/_UserCenterLayout.cshtml";
}
@section headscript{
    <link href="//cdn.bootcss.com/bootstrap-sweetalert/1.0.1/sweetalert.min.css" rel="stylesheet">
}
<div class="row">

    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>更改密码</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12 b-r">
                        <form role="form">
                            <div class="form-group"><label>原密码</label> <input type="password" placeholder="原密码" class="form-control oldpassword"></div>
                            <div class="form-group"><label>新密码</label> <input type="password" placeholder="新密码" class="form-control newpassword"></div>
                            <div class="form-group"><label>确认新密码</label> <input type="password" placeholder="确认新密码" class="form-control confirmpassword"></div>
                            <div>
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs updatebtn"><strong>修改</strong></button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>



@section footscript{
    <script src="//cdn.bootcss.com/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.updatebtn').click(function () {
                var oldpwd = $('.oldpassword').val();
                var newpwd = $('.newpassword').val();
                var cpwd = $('.confirmpassword').val();
                if ($.trim(oldpwd).length <= 0) {
                    showmsg("原密码不能为空！");
                    return false;
                }
                if ($.trim(newpwd).length <= 0) {
                    showmsg("新密码不能为空！");
                    return false;
                }
                if ($.trim(newpwd).length < 6) {
                    showmsg("密码不能少于6位！");
                    return false;
                }
                if (newpwd != cpwd) {
                    showmsg("两次输入的密码不一样！");
                    return false;
                }
                $.ajax({
                    url: "/UserCenter/Account/PostRestPassword",
                    dataType: "json",
                    type: "post",
                    cache: false,
                    data: { oldpwd: oldpwd, newpwd: newpwd },
                    success: function (data) {
                        if (data.result) {
                            alert("修改成功！");
                            window.location.href = '/UserCenter/Account/RestPassword';
                        } else {
                            showmsg(data.info);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });
            function showmsg(s) {
                swal(s);
            }

        });
    </script>

}
